{
    "printWidth": 120,
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "quoteProps": "consistent",
    "jsxSingleQuote": false,
    "trailingComma": "all",
    "bracketSpacing": true,
    "bracketSameLine": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "overrides": [
        {
            "files": ["**/*.json", "**/*.yml", "**/*.yaml", "**/*.config.js"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
